:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --title-font-weight: 600;
  --title-font-size: clamp(2rem, 1.8045rem + 0.9963vw, 3rem);
  --font-size: clamp(1rem, 0.8045rem + 0.9963vw, 2rem);
  --gap: clamp(0.25rem, 0.2011rem + 0.2491vw, 0.5rem);
  --gap-large: clamp(0.5rem, 0.4022rem + 0.4981vw, 1rem);
  --gap-extra-large: clamp(1rem, 0.8045rem + 0.9963vw, 2rem);
  --border-radius: 4px;
  --border-notch: 32px;
  --border-style: solid;
  --border-width: 2px;
  --background-color: #e1e1e1;
  --background-color-body: #f9f9f9;
  --color: #3f3f3f;
  --link-color: #09cdae;
  --purple: #3e0068f2;
  --red: #fd1d1de6;
  --yellow: #fcb045e6;
}

body {
  background-color: var(--background-color-body);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;

  &.dark {
    transition: background 300 ease;
    --background-color: #002030f2;
    --background-color-body: #16264b;
    --color: #bdbdbd;
  }
}

p {
  margin: 0;
}
