<header></header>
<main>
  <h1>This is an H1</h1>
  <h2>This is an H2</h2>
  <h3>This is an H3</h3>
  <h4>This is an H4</h4>
  <h5>This is an H5</h5>
  <h6>This is an H6</h6>
  <form>
    <fieldset>
      <legend>Choose Your Parking Passes</legend>
      <input id="first" placeholder="First Semester Parking Pass" type="checkbox" />
      <label name="semesters" for="first">First Semester Parking Pass</label>

      <br />

      <input id="second" placeholder="Second Semester Parking Pass" type="checkbox" />
      <label name="semesters" for="second">Second Semester Parking Pass</label>

      <br />

      <input id="third" placeholder="Third Semester Parking Pass" type="checkbox" />
      <label name="semesters" for="third">Third Semester Parking Pass</label>

      <br />

      <input id="fourth" placeholder="Fourth Semester Parking Pass" type="checkbox" />
      <label name="semesters" for="fourth">Fourth Semester Parking Pass</label>
    </fieldset>

    <fieldset>
      <legend>Choose Your Subscription Type</legend>
      <input id="monthly" placeholder="Monthly Subscription" type="radio" />
      <label name="subscription" for="monthly">Monthly Subscription</label>

      <br />

      <input id="yearly" placeholder="Yearly Subscription" type="radio" />
      <label name="subscription" for="yearly">Yearly Subscription</label>
    </fieldset>

    <br />

    <fieldset>
      <legend>
        <label for="name">Enter Your Name Here</label>
      </legend>
      <input id="name" placeholder="Enter Name" type="text" />
    </fieldset>

    <br />

    <select>
      <option value="warren">Warren</option>
      <option value="dugan">Dugan</option>
    </select>
  </form>
</main>
<footer></footer>
