:host {
  --space: calc(var(--gap-extra-large) * 3);
  display: block;
  text-align: center;
  margin-top: var(--gap-extra-large);
  margin-bottom: 0;
  padding: var(--gap);

  p {
    width: 640px;
    max-width: 80%;
    margin: var(--space) auto;
    margin-top: var(--gap-extra-large);
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: calc(var(--font-size) * 1.5);
  }

  video {
    max-width: 100%;
  }

  a {
    margin-top: var(--space);
    margin-bottom: var(--space);
  }

  jankless-switch {
    margin: 0 auto;
  }
}
