<img width="320" src="assets/MP_Everest_Logo.svg" alt="Mike Posner branded logo for upcoming Everest Trip">
<p class="description">
    Ullam laboriosam obcaecati dolorum illum aut quam vitae maxime tenetur explicabo ipsa voluptates quisquam est sit
    similique, ab rem, eveniet, placeat iusto?
</p>
<video controls width="640" poster="assets/sizzle-poster.jpg">

    <source src="/assets/MP_Everest_Sizzle.webm" type="video/webm">

    <source src="/assets/MP_Everest_Sizzle.mp4" type="video/mp4">

    Sorry, your browser doesn't support embedded videos.
</video>

<a href="https://gmfye3cd6yq.typeform.com/to/mggMEVxH" target="_blank">Apply Now</a>